body {
    font-family: 'Indie Flower', cursive;
    background-color: rgb(157, 244, 247);
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

h1 {
    font-family: 'Courgette', cursive;
    color:rgb(48, 48, 138);
    font-size: 5rem;
}

.main-container {
    display: flex;
    justify-content: space-around;
}

button {
    background: #37ECFF;
    background-image: -webkit-linear-gradient(top, #37ECFF, #11336A);
    background-image: -moz-linear-gradient(top, #37ECFF, #11336A);
    background-image: -ms-linear-gradient(top, #37ECFF, #11336A);
    background-image: -o-linear-gradient(top, #37ECFF, #11336A);
    background-image: -webkit-gradient(to bottom, #37ECFF, #11336A);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: 'Courgette', cursive;
    font-size: 30px;
    font-weight: 100;
    padding: 20px;
    -webkit-box-shadow: 1px 1px 20px 0 #0059A0;
    -moz-box-shadow: 1px 1px 20px 0 #0059A0;
    box-shadow: 1px 1px 20px 0 #0059A0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
button:hover {
    background: #16646d;
    border: none;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

 button:focus {
     outline:none;
 }